<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>BMI Calculator with Metric</title>



    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

        <link rel="stylesheet" href="css/style.css">




  </head>

  <body>

    <div class="container" ng-app="tabPanel">
  <div class="jumbotron" ng-controller="headerCtrl">
    <h1>{{header}}</h1>
    <span>by:</span> {{mySite}}
    <br>
    <div class="tab-controller-wrap" ng-controller="tabCtrl" ng-click="tabChange($event)">
      <a href="#awesome1" class="tab-control" ng-class="{'active':tabSelected=='#awesome1'}">Imperial</a>
      <a href="#awesome2" class="tab-control" ng-class="{'active':tabSelected=='#awesome2'}">Metric</a>
      <a href="#awesome3" class="tab-control" ng-class="{'active':tabSelected=='#awesome3'}">BMI Classification</a>
      <hr>
      <div class="content-wrapper">
      <!-- Imperial Calculator -->
        <div id="awesome1" class="ng-hide" ng-show="tabSelected=='#awesome1'">
          <form ng-controller="imperialCtrl">
            <h5>Weight:</h4><input ng-change="computeBMI()" ng-model="statsUS.weightUS"></input><span> lbs.</span>
            <br>
            <br>
            <h5>Height:</h4><input class="input-small" ng-change="computeBmiUS()" ng-model="statsUS.ftUS"></input><span> ft.</span>
            <input class="input-small" ng-change="computeBmiUS()" ng-model="statsUS.inUS"></input><span> in.</span>
            <br>
            <br>
            <b>Your BMI is:</b>
            <h3 class="result">{{statsUS.bmiUS | number: 0}}</h3>
            <br>
          </form>
        </div>
  <!-- Metric Calculator -->
        <div id="awesome2" class="ng-hide" ng-show="tabSelected=='#awesome2'">
           <form ng-controller="metricCtrl">
            <h5>Weight:</h4><input ng-change="computeBmiM()" ng-model="statsM.weightKG"></input><span> kg.</span>
            <br>
            <br>
            <h5>Height:</h4><input class="input-small" ng-change="computeBmiM()" ng-model="statsM.heightCM"></input><span> cm.</span>
            <br>
            <br>
            <b>Your BMI is:</b>
            <h3 class="result">{{statsM.bmiM | number: 0}}</h3>
            <br>
          </form>
        </div>
        <div id="awesome3" class="ng-hide" ng-show="tabSelected=='#awesome3'">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h3>BMI</h3>
              <hr>
                <p>18.5</p>
                <p>18.5–24.9</p>
                <p>25.0–29.9</p>
                <p>30.0–34.9</p>
                <p>35.0–39.9</p>
                <p>≥ 40.0</p>
            </div>
            <div class="chart col-xs-12 col-sm-6">
              <h3>Classification</h3>
              <hr>
                <p>Uderweight</p>
                <p>Normal Weight</p>
                <p>Overweight</p>
                <p>Class I Obesity</p>
                <p>Class II Obesity</p>
                <p>Class III Obesity </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>

        <script src="js/index.js"></script>




  </body>
</html>
